<h1>Topics</h1>

<ul class="list-group">
  <% @topics.each do |topic| %>
    <li>
      <%= link_to topic.name, topic_path(topic), class: "list-group-item" %>
    </li>
  <% end %>
</ul>

<%= link_to "New Topic", new_topic_path, class: "btn btn-primary" %>
